    <nav class="navbar navbar-fixed-top animated fadeInDown ">
        <div class="navbar-inner">
            <div class="container">
                <div class="wrapp">
        
                    <!--Mobile Main Menu-->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--Mobile Main Menu-->

                    <!--Desktop Main Menu-->
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                              <li><a href="/#menu-home">Home</a></li>
                              <li><a href="/#menu-book">Book</a></li>
                              <li><a href="/#menu-gallery">Gallery</a></li>
                              <li><a href="/#menu-buy">Buy</a></li>
                              <li><a href="/#menu-author">Author</a></li>
                              <!--<li><a data-toggle="modal" href="#myModal">contact</a></li>-->
                              <li><a href="https://babyfoodrecipes.wufoo.com/forms/m1vja5190uen01k/" onclick="window.open(this.href,  null, 'height=497, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">contact</a></li>
                        </ul>
                     </div>
                     <!--End Desktop Main Menu-->

                 </div>    
            </div><!--/.container -->
        </div><!--/.nav-inner -->
    </nav>
 
