/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


.container {padding: 0}
body {
  background-image: url(../images/bg.jpg);
  /*font-family: serif, Georgia,"Times New Roman",Times; */
  font-family: 'Simonetta', cursive;
  /*font-family: 'Prosto One', cursive; */
  
  color: #626161;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0 1px 0 #FDFDFD;
}
h1, h2, h3, h4, h5 {
  font-family: 'Prosto One', cursive;
}
.container {
  margin: 20px auto;
  width: 773px;
  background-image: url(../images/bg_y.jpg);
  box-shadow: 0 0px 15px rgba(0,0,0,0.95);
  padding-bottom: 10px;
}
/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.section {
  min-height: 500px;
}
#about-book {
}

#nav {
  padding: 20px;
}
#nav a {
  color: #787777;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
  margin-right: 10px;
}
#nav a:hover { color: #5d9cb3;}

.section_title {
  text-align: center;
  background: #64ACC6;
  color: #E3E2DF;
  text-shadow: #444 1px 1px 0px;
  font-size: 32px;
  padding: 5px;
  margin: 20px;
  border: 1px inset #74bCd6;
}
.sub_title {
  font-size: 24px;
  line-height: 24px;
  padding-left: 40px;
  padding-right: 40px;
}

p,table { 
  margin: 20px;
  line-height: 24px;
}

div#footer {
  text-align: center;
  background: #989D9F;
  color: #eee;
  text-shadow: #888 1px 1px 0px;
  padding: 5px;
  margin: 0 20px 0px 20px;
  border: 1px inset #74bCd6;
}

div.side-image {
  margin-left: 40px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px;
  height: 200px; width: 200px;
}

.rotate {
  -moz-transform: rotate(355deg);
  -webkit-transform: rotate(355deg);
  -o-transform: rotate(355deg);
  -ms-transform: rotate(355deg);
}
.shadow {
  -moz-box-shadow:    3px 3px 5px 3px #ccc;
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;
  box-shadow:         3px 3px 5px 3px #ccc;
  
}
img.book-image {
  padding: 0 20px 10px 0;
}
div.side-image img {
  height: 200px; width: 200px;
  border: 1px solid #666;
}

img.cover {
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


