<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Define Charset -->
    <meta charset="utf-8"/>

    <!-- Page Title -->
    <title>{{ page.title }}</title>

    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page Description and Author -->
    <meta name="description" content="60 nutritious, Indian vegetarian baby food that you can start feeding your baby 6 months onwards">
    <meta name="author" content="Roma Sharma">
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <!-- Stylesheet
    ===================================================================================================  -->

    <!-- Font icons -->
    <link href="/font/fontello.css" rel="stylesheet" >
    <!--[if IE 7]>
    <link href="font/fontello-ie7.css" rel="stylesheet" ><![endif]-->

	<!-- Custom Template Styles -->
    <link href="/css/main.css" rel="stylesheet" media="screen">
    <link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="favicon.ico">

    <script src="js/modernizr.custom.js"></script>

</head>

<body>



    <!-- Main Menu -->
    {% include header.html %}
   <!-- End Main Menu -->

    <!-- Contact Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Contact Us!</h3>
        </div>
        <div class="modal-body">
            <div id="loading" style="display: none" class='alert'>
            <a class='close' data-dismiss='alert'>×</a>
                Loading
            </div>
            <div id="response"></div>
            <!-- Form -->
            <!--
            <form id="form-contact" class="form_online" method="post" action="/">
                <label class="no">Name</label>
                <input type="text" placeholder="Name" name="Name" required>
                <label class="no">Email</label>
                <input type="email" placeholder="Email" name="Email" required>
                <label class="no">Message</label>
                <textarea placeholder="Your Message" name="message" required></textarea>
                <h5>All fields with an * are required.</h5>
                <input type="submit" value="Send" class="send">
            </form>
            -->
            <!-- Form -->
        </div>
        <div class="modal-footer"></div>
    </div>

    {{ content }}

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <div class="wrapp">

                <div class="row-fluid">
                    <div class="span6 fitem">
                        <h2>Roma Sharma Publications</h2>
                        <p>Yes, I am the author, photographer, book designer and now a book publisher as well. Do get in touch with me if you are planning to self-publish your book.</p>
                    </div>
                    <div class="span6 fitem">
                        <h2>contact information</h2>
                        <ul class="contact">
                            <li class="mail">roma@romasharma.com</li>
                            <li class="tel">+91-80-26968741</li>
                            <li class="address">D402, Brindavan Renaissance, Uttarahalli Main Road Subramanyapura, Bangalore</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- End Footer Section -->


    <!-- Copyright Section -->
    <section class="copyright">
        <div class="container">
            <div class="wrapp">
                <div class="row-fluid">
                    <div class="span6">
                        <h6>&copy;2013 Roma Sharma Publications. All rights reserved </h6>
                    </div>
                    <ul class="social span6">
                        <li title="Twitter" class="tooltip_hover"><a href="https://twitter.com/romasharma"  target="_blank"><i class="icon-twitter"></i></a></li>
                        <li title="Facebook" class="tooltip_hover"><a href="https://www.facebook.com/babyfoodrecipes"  target="_blank"><i class="icon-facebook"></i></a></li>
                        <li title="Linkedin" class="tooltip_hover"><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li title="Google Plus" class="tooltip_hover"><a href="https://plus.google.com/103018623153251025399?prsrc=3"><i class="icon-google-circles"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Copyright Section -->

    <a href="#" class="scrollup"><i class="icon-up-open"></i></a>      
	    

	<!-- ======================= JQuery libs =========================== -->
		<script type="text/javascript" src="js/main.js"></script>
        
   <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8744648-12']);
      _gaq.push(['_setDomainName', 'babyfoodrecipes.in']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
  
	<!-- ======================= End JQuery libs ======================= -->
	    
    
</body>
</html>
