<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Define Charset -->
    <meta charset="utf-8"/>

    <!-- Page Title -->
    <title>{{ page.title }}</title>

    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page Description and Author -->
    <meta name="description" content="60 nutritious, Indian vegetarian baby food that you can start feeding your baby 6 months onwards">
    <meta name="author" content="Roma Sharma">
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

	<!-- Custom Template Styles -->
    <link href="/css/new.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="favicon.ico">

</head>

<body>
   <div class="container">
      <div class="header">
        <a href="/" title="Home">  <h1> Indian Baby Food Recipes</h1></a>
      </div>  <!-- header -->

      <div class="nav-wrap">
        <a href="/" class="{% if page.nav == 'home' %}active{%endif%}" title="Home">   <h1>Home</h1>  </a>
        <a href="/me" class="{% if page.nav == 'me' %}active{%endif%}" title="About Me">   <h1>About Me</h1>  </a>
        <a href="/blog" class="{% if page.nav == 'blog' %}active{%endif%}" title="Blog">   <h1>Blog</h1>  </a>
      </div> <!-- nav-wrap -->

     <div class="content">
       <div class="sidebar">
         <h1>Buy my book!</h1> 
          <a href="http://www.flipkart.com/60-great-baby-food-recipes-nutritious-vegetarian-your/p/itmdpy4xvfswh6xr?affid=INMayank"><img src="/img/roma/book_cover_scaled.JPG" alt="book for sale"></a>
          <a href="http://www.flipkart.com/60-great-baby-food-recipes-nutritious-vegetarian-your/p/itmdpy4xvfswh6xr?affid=INMayank"><h2>60 great baby food recipes</h2></a>
          <h2>Available on ...</h2>
          <a href="http://www.flipkart.com/60-great-baby-food-recipes-nutritious-vegetarian-your/p/itmdpy4xvfswh6xr?affid=INMayank"><img src="/img/roma/flipkart-Logo_scaled.jpg" alt="flipkart"></a>
           
          <ul>
          <li><a href="/category/baby-food-recipes" class="{% if page.category_nav == 'baby-food-recipes'%}active_cat{%endif%}"><h2>Baby Food</h2></a></li>
           <ul>
            <li><a href="/category/6-7-months" class="{% if page.category_nav == '6-7-months'%}active_cat{%endif%}"><h2>6-7 months</h2></a></li>
            <li><a href="/category/8-9-months" class="{% if page.category_nav == '8-9-months'%}active_cat{%endif%}"><h2>8-9 months</h2></a></li>
            <li><a href="/category/10-12-months" class="{% if page.category_nav == '10-12-months'%}active_cat{%endif%}"><h2>10-12 months</h2></a> </li>
            <li><a href="/category/above-12-months" class="{% if page.category_nav == 'above-12-months'%}active_cat{%endif%}"><h2>above 12 months</h2></a></li>  
           </ul>
         <!-- <li><h2>Baby Care</h2></li>  -->
          </ul>
       </div> <!-- sidebar -->
  
       <div class="mainbar">
         {{content}}
       </div> <!-- content -->
       
       <div class="clear"></div>
     </div> <!-- content -->

   </div> <!-- container -->
   <div class="footer">
     <h1>visit me | <a href="http://romasharma.com">romasharma.com</a></h1>
       <a href="https://www.facebook.com/babyfoodrecipes"> <img class="icons" src="/img/roma/facebook-icon.jpg" alt="facebook"> </a>
       <a href="https://twitter.com/romasharma"> <img class="icons" src="/img/roma/twitter-icon.jpg" alt="twitter"> </a>
   </div> <!-- footer -->

   <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8744648-12']);
      _gaq.push(['_setDomainName', 'babyfoodrecipes.in']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
</body>
</html>
